<!-- charts -->
<section class="sensor-chart-wrapper">
    <!-- sensor 1-->
    <div class="container">
        <div id="chart1"></div>
        <span style="padding: 1.8rem 0;" class="title-icon"><span class="material-symbols-outlined icon">water_drop</span>Soil Moisture 1</span>
    </div>
    <!-- sensor 2 -->
    <div class="container">
        <div id="chart2"></div>
        <span style="padding: 1.8rem 0;" class="title-icon"><span class="material-symbols-outlined icon">water_drop</span>Soil Moisture 2</span>
    </div>
    <!-- sensor 3 -->
    <div class="container">
        <div id="chart3"></div>
        <span style="padding: 1.8rem 0;" class="title-icon"><span class="material-symbols-outlined icon">water_drop</span>Soil Moisture 3</span>
    </div>
    <!-- sensor 4 -->
    <div class="container">
        <div id="chart4"></div>
        <span style="padding: 1.8rem 0;" class="title-icon"><span class="material-symbols-outlined icon">water_drop</span>Soil Moisture 4</span>
    </div>
    <!-- sensor 5 -->
    <div class="container">
        <div id="chart5"></div>
        <span style="padding: 1.8rem 0;" class="title-icon"><span class="material-symbols-outlined icon">water_drop</span>Soil Moisture 5</span>
    </div>
    <!-- sensor 6 -->
    <div class="container">
        <div id="chart6"></div>
        <span style="padding: 1.8rem 0;" class="title-icon"><span class="material-symbols-outlined icon">water_drop</span>Soil Moisture 6</span>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/static/chart.js"></script>